{%- if move_assignment -%}
{% if namespace != "" %}{{namespace|upper}}::{% endif %}{{name}}& {% if namespace != "" %}{{namespace|upper}}::{% endif %}{{name}}::operator=({% if namespace != "" %}{{namespace|upper}}::{% endif %}{{name}} &&other)
{
    if (this != &other)
    {
    }
    return *this;
}//Move assign operator
{% endif %}