{%- if move_constructor -%}
{% if namespace != "" %}{{namespace|upper}}::{% endif %}{{name}}::{% if namespace != "" %}{{namespace|upper}}::{% endif %}{{name}} ({{name}}&& other)
{
}//Move constructor
{% endif %}