class {{name}}
{% if base_classes is defined and base_classes|length > 1 -%}
: public {{ base_classes|join(', ') }} {{ 'final' if is_final }}
{%- endif %}
{
    public:
    {{name}}();
    {% if copy_constructor %}{{name}}(const {{name}}& other);{% endif -%}
    {% if copy_assignment %}{{name}}& operator=(const {{name}}& other);{% endif -%}
    {% if move_constructor %}{{name}}({{name}}&& other);{% endif -%}
    {% if move_assignment %}{{name}}& operator=({{name}}&& other);{% endif -%}
    {% if destructor %} ~{{name}}();{% endif %}

    protected:
    private:
};