{%- if copy_assignment -%}
{% if namespace != "" %}{{namespace|upper}}::{% endif %}{{name}}& {% if namespace != "" %}{{namespace|upper}}::{% endif %}{{name}}::operator=(const {{ name}}& other)
{
    if (this != &other)
    {
    }
    return *this;
}//Copy assign operator
{% endif %}